.results {
  text-align: center;

  .night & {
    color: #ccc;
  }
}

.city {
  font-size: 3rem;
  line-height: 3.125rem;
  font-weight: 400;
}

.icon {
  font-size: 6rem;
  width: 100%;
  margin-bottom: 1rem;

  @media (min-width: 400px) {
    width: auto;
    margin: 0;
  }
}

.results-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.temp {
  margin: 0 20px;
  font-size: 3rem;
  line-height: 3.125rem;
  font-weight: 600;
}

.min-max {
  text-align: left;
}

.description {
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;

  @media (min-width: 400px) {
    margin: 0;
  }
}
